<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9038b022a0.js"></script>
    <title>Online Fests</title>
</head>
<body>
    <style>
        .navbar{
            background: #1A73E8;
        }
        #navlogout:focus{
            outline:none;
        }
        #navlogout{
            border:none;
            background:  #1A73E8;
        }
        #backicon {
            background-color: #1A73E8;
            background-size: 100%;
        }
        #back {
            color: white;
            margin-left: 0.7rem;
            margin-bottom:0.6rem;
        }
        #home {
            color: white;
        }
        #home:hover {
            cursor: pointer;
        }

    </style>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div>
            <i class="fa fa-home" aria-hidden="true" id="home" style="font-size: 2.2rem;" onclick="window.location.href='/'"></i>
        </div>
       
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/scheduler" style="font-weight:400; font-size: 1.2rem;">Schedule</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/registrations" style="font-weight:400; font-size: 1.2rem;">Registered</a>
            </li>
            <%if(user == null){%>
             <li class="nav-item">
               <a class="nav-link active" href="/login" style="font-weight:400; font-size: 1.2rem;">Login</a>
             </li>  
             <li class="nav-item">
                <a class="nav-link active" href="/signup" style="font-weight:400; font-size: 1.2rem;">Sign Up</a>
             </li>   
            <%}else{%>
            <li class="nav-item">
                <form action="/logout" method="POST">
                <button id="navlogout" style="color:white; margin:0.4rem 0 0 0; font-weight:400; font-size: 1.2rem;">Logout</button>
                </form>
            </li> 
             <%}%>
          </ul>
        </div>
      </nav>
      </div>