<style>

    #message {                        
        color: red;        
    }
    .container {
        /* align-self: center; */
        margin: 75px auto;
        text-align: center;
        /* border: 2px solid black; */
        width: 70%;
    }
    /* img {
        transform: rotate(90deg);
        width: 400px;
        height: 380px;
    } */

</style>


<div class="container">

    <!-- <div>
        <img src="ds images/Candidates.jpg" alt="Competitors">
    </div> -->
    <div style="margin-top: 50px;">
        <h1>
            <span id="message">SORRY, THERE ARE CURRENTLY NO COMPETITORS...</span>
        </h1>
    </div>
</div>