<style>

    #Sorry {                        
        color: red;        
    }
    #there {
        color: orange;
    }
    #are {
        color: yellowgreen;
    }
    #no {
        color: green;
    }
    #candidates {
        color: rgb(99, 99, 211);
    }
    #dots {
        color: purple;        
    }
    .container {
        align-items: center;
    }

</style>


<div class="container">
    <h1>
        <span id="Sorry">Sorry,</span> <span id="there">there</span> <span id="are">are</span> <span id="no">no</span> <span id="candidates">candidates</span> <span id="dots">...</span>
    </h1>
</div>