<button><a href="/cordhome">Coordinator</a></button>
<button><a href="/Visitorhome">Visitor</a></button>
<button><a href="/signup">Sign Up</a></button>
<button><a href="/login">Login</a></button>
<form>
<button formaction="/logout" formmethod="POST">Log Out</button>
</form>
<script>
if(id)
{
    console.log("working");
}
else
{
    console.log("chal jaa yaha se")
}
</script>