<%-include("partials/header")%>


<button><a href="/cordhome">Coordinator</a></button>
<button><a href="/Visitorhome">Visitor</a></button>
<button><a href="/scheduler">Schedule</a></button>
<button><a href="/registrations">View Registrations</a></button>
<form>
<button formaction="/logout" formmethod="POST">Log Out</button>
</form>





<%-include("partials/footer")%>