<h1>Live Voting</h1>

<%for(i=0;i<registrations.currentround.length;i++){%>
    <div>
        <%=registrations.currentround[i].name%>
    </div>
    <div>    
        <%=registrations.currentround[i].score%>
    </div>    
<%}%>  

<button><a href="/cordhome/<%=fest.festname%>/<%=registrations._id%>/voteresults">Stop and Release Results</a></button>