<h1>Visitor Home Page</h1>

<a href="/">Home</a>

<%var i;%>
         <%for(i=0;i<fests.length;i++){ %> 
            <div>
                <a href="/cordhome/<%= fests[i].festname %>" >
                 <%=fests[i].festname%>
                 <%=fests[i].college%>
                 <%=fests[i].type%>
                </a>
            </div>
         <%}%>
