<h1>Visitor Home Page</h1>

<button onclick="goback()">Back</button>
    <script>
        function goback() {
            window.history.back();
        }
    </script>

<a href="/">Home</a>

<%var i;%>
         <%for(i=0;i<fests.length;i++){ %> 
            <div>
                <a href="/Visitorhome/<%= fests[i].festname %>" >
                 <%=fests[i].festname%>
                 <%=fests[i].college%>
                 <%=fests[i].type%>
                </a>
            </div>
         <%}%>
